* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 100vw;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: linear-gradient(to top right , #bbf8ff, #74c3ff);
}

#root {
	min-width: inherit;
	height: inherit;
	display: grid;
	place-content: center;
	gap: 1.5em;
} 

.card {
	position: relative;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	width: 10rem;
	height: 12rem;
	border-radius: .5em;
	background-color: #646464;
	color: #707070;
	font-size: 2rem;
	transform: rotateX(0deg);
	transition: transform linear 100ms;
	/* glass */
	background: rgba(212, 212, 212, 0.102);
	box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.369);
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.card h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	object-fit: cover;
}

.a {
	border-radius: .5em .5em 0 0;
}
.b {
	border-radius: 0 0 .5em .5em;
}
.btn-card {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.rotateUp { transform: rotateX(30deg); }
.rotateDown { transform: rotateX(-30deg); }

.heart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: max-content;
	background: none;
	border: none;
	position: absolute;
	top: 5%;
	right: 7%;
	cursor: pointer;
	transition: transform 100ms ease-in-out;
}
.heart:active {
	transform: scale(.85);
}

.dogs {
	background-origin: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.liked svg {
	fill: red
}
